@model IEnumerable<NRL_Ladder_FrontEnd_v2.Models.Team>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TeamName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalWins)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalLosses)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearFounded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Members)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stadium)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TeamName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalWins)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalLosses)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearFounded)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Members)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stadium)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.TeamName }) |
            @Html.ActionLink("Details", "Details", new { id = item.TeamName }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.TeamName })
        </td>
    </tr>
}

</table>
